// Typing animation
.typing-effect {
  font-size: 38px;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 22px;
  }
}

#cursor {
  border-left: 2px solid black;
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}