<header>
  <nav>
    <ul>
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#stack">Tech Stack</a>
      </li>
      <li>
        <a href="#projects">Projetos</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
    </ul>
  </nav>

  <section class="hero" id="home">
    <div class="hero-content">
      <p>Hi, I'm Mauro</p>
      <h1>Frontend Developer</h1>

      <p>
        A Frontend Developer with experience in building web applications using
        Angular.
      </p>

      <button>Get in touch</button>
    </div>
  </section>
</header>
