<header>
  <nav>
    <ul>
      <li>
        <a (click)="scrollToSection('home')">Home</a>
      </li>
      <li>
        <a (click)="scrollToSection('stack')">Tech Stack</a>
      </li>
      <li>
        <a (click)="scrollToSection('projects')">Projects</a>
      </li>
      <li>
        <a (click)="scrollToSection('about')">About</a>
      </li>
    </ul>
  </nav>

  <section class="hero" id="home">
    <div class="hero-content">
      <p>Hi, I'm Mauro</p>
      <div class="typing-effect">
        <span id="text">{{ currentText }}</span
        ><span id="cursor"></span>
      </div>
      <p>
        A Frontend Developer with experience in building web applications using
        Angular.
      </p>

      <a
        href="https://www.linkedin.com/in/mauro-gabriel-b602b5194"
        target="_blank"
        ><button>Get in touch</button></a
      >
    </div>
  </section>
</header>
