header {
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg, var(--primary-color) 25%, transparent 25%, transparent 75%, #007bff 75%, #007bff), linear-gradient(45deg, #007bff 25%, transparent 25%, transparent 75%, #007bff 75%, #007bff);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  transition: color 0.3s ease;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

nav ul li a:hover {
  color: var(--primary-color);
  background-color: white;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero p {
  margin: 0 0 10px 0;
}

.hero button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

// Typing animation
.typing-effect {
  font-size: 48px;
  font-weight: 700;
}

#cursor {
  border-left: 2px solid black;
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}