<div class="container">
  <h1 id="projects">Projects</h1>

  <section class="projects-section">
    <div class="projects">
      @for (project of projects; track $index) {
      <div class="project-card hidden">
        <img
          [src]="project.image"
          alt="Imagem do card"
          class="project-img"
          loading="lazy"
        />
        <span class="project-name">{{ project.name }}</span>
        <img class="project-stack" [src]="project.stack" loading="lazy" />

        <div class="project-card-footer">
          <div class="project-card-buttons">
            <a [href]="project.github" target="_blank">
              <button>
                <img
                  class="github-icon"
                  loading="lazy"
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
                />
                <span>Github</span>
              </button>
            </a>
            <a [href]="project.live" target="_blank">
              <button>
                <img
                  class="live-icon"
                  loading="lazy"
                  src="https://icongr.am/clarity/paperclip.svg?size=25&color=currentColor"
                />

                <span>Live</span>
              </button>
            </a>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</div>
