<footer id="about">
  <div class="footer">
    <div class="row">
      <a href="https://github.com/Maurog-rgba" target="_blank">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          alt="Mauro's Github"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/mauro-gabriel-b602b5194"
        target="_blank"
      >
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
          alt="Mauro's Linkedin"
        />
      </a>
    </div>

    <div class="row">
      <span>Mauro's Portfolio</span>
      {{ year }}
    </div>
  </div>
</footer>
