@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #fca311;
  --background-color: #000000;
  --text-color: #e5e5e5;
}

*,
*:after,
*:before {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}